<% include partials/header %>

<form action="post" method="/changePassword">
<div>
	<div><label for="username">Username</label>
		   <span><% username %></span>
	</div>
	<div><label for="password">Password</label>
		   <input type="password" id="password" />
	</div>
</div>

<button type="submit">Save</button>
<a href="/admin/loginList">Back</a>

<% include partials/footer %>