<% include header %>
<div>
Filters Here

<div>
	<button>Search</div>
	<button>Clean</div>
</div>
</div>

<table>
	<thead>
		<tr>
			<th></th>
			
			<th> <button>Add</button> </th>
		</tr>
	</thead>
	<tbody>
		<td></td>
		<td>
			<button>Edit</button>
			<button>Delete</button>
		</td>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2"></td>
			<td colspan="2"></td>
		</tr>
	<tfoot>
</table>

<% include footer %>