<% include header %>

<label>Description</label>
<label> organization configuration description <label>

<label> status</label>

<button>Prev Status</button>
<button>status 1</button>
<button>status 2</button>
<button>status 3</button>
<button>status 4</button>
<button>status 5</button>
<button>Next Status</button>

<div> status view </div>

<% include footer %>