<% include partials/header %>

<div class="col-lg-offset-4 col-lg-8">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h5>Create New Account </h5>
		</div>
		<div class="panel-body">
			<form action="/admin/organization/create" method="post">
				<div class="form-group">
					<label for="username">Title</label>
					<input type="text" id="title" class="form-control" name="title" placeholder="Title" 
					/>
				</div>
				<div>
					This is the active party configuration picker				
				</div>
				<hr>
				<div class="form-group">
					<div class=" pull-left">
						<a role="button" href="/admin/organizaqtions" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left "></span> Back</a>
					</div>
					<div class=" pull-right">
						<button type="submit" id="btn-login" class="btn btn-primary"> <span class="glyphicon glyphicon-ok "></span> Create</button>
					</div>
				</div>
				
			<form>
		</div>
	</div>
</div>
<% include partials/footer %>