<% include partials/header %>

<div class="col-lg-offset-4 col-lg-8">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h5>Create New Account </h5>
		</div>
		<div class="panel-body">
			<form action="/admin/account/create" method="post">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" class="form-control" name="username" placeholder="Username" 
					/>
				</div>
				<div class="form-group">
					<label for="displayname">Display Name</label>
					<input type="text" id="displayname" class="form-control" name="displayname" placeholder="Display Name" 
					/>
				</div>
				<div class="form-group">
					<label for="username">Password</label>
					<input type="text" id="password" class="form-control" name="password" placeholder="Password" 
					/>
				</div>
				<div class="form-group">
					<div class="form-horizontal col-lg-12">
						<div class="col-sm-3">
							<label class="control-label" for="isAdmin">Administrator</label>
						</div>
						<div class="col-sm-3">
							<input type="checkbox" id="isAdmin" name="isAdmin" data-style="btn-group-sm"  />
						</div>
						<div class="col-sm-3">
							<label class="control-label" for="hascommanderTag">Commander Tag</label>
						</div>
						<div class="col-sm-3">
							<input type="checkbox" id="hascommanderTag" name="hascommanderTag" data-style="btn-group-sm" />
						</div>
					</div>
				</div>
				<br>
				
				<hr>
				<div class="form-group">
					<div class=" pull-left">
						<a role="button" href="/admin/accounts" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left "></span> Back</a>
					</div>
					<div class=" pull-right">
						<button type="submit" id="btn-login" class="btn btn-primary"> <span class="glyphicon glyphicon-ok "></span> Create</button>
					</div>

				</div>

			</form>
		</div>
	</div>
</div>

<% include partials/footer %>