<% include partials/header %>

<div class="col-lg-offset-4 col-lg-4">
	<div class="panel panel-primary">
  		<div class="panel-heading"><h5>Change Your Password <b><% include partials/display-username %></b> </h5></div>
  		<div class="panel-body">	
			<form method="post" action="/user/changePassword">
				<div>
					<div class="form-group"><label for="password">Password</label>
		   				<input class="form-control" type="password" name="password1" />
					</div>
					<div class="form-group"><label for="password">Type Ur Password Again</label>
		   				<input class="form-control" type="password" name="password2" />
					</div>
					<div class="pull-right">
						<button type="submit" class="btn btn-primary">Change Password</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<% include  partials/footer %>
