<% include header %>

<form action="post" method="/changePassword">
<div>
	<div><label for="username">Username</label>
		   <span><% username %></span>
	</div>
	<div><label for="password">Password</label>
		   <input type="password" id="password1" />
	</div>
	<div><label for="password">Type Ur Password Again</label>
		   <input type="password" id="password2" />
	</div>
	<div>
			<button type="submit">Change Password</button>
	</div>
</div>

<% include footer %>
