<% include header %>

<form action="post" method="/changeProfile">
<div>
	<div><label for="username">Username</label>
		   <span><% username %></span>
	</div>
    <div>
        Proffessions that i have in my account
    </div>
    <div>
        Commander Tag?
    </div>
	<div>
			<button type="submit">Change Profile</button>
	</div>
</div>

<% include footer %>
