.pagination{
	margin-top:0!important;
}

.toast-top-full-width{
	top: 57px!important;
}

.text-strikeout{
	text-decoration: line-through;
}

.centered {
    text-align: center;
    font-size: 0;
}
.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}
label.counter {
    vertical-align: middle;
    margin-bottom: 10px;
}

.list-group-item {
	span{
		&.no-icon{
	 		display: inline-block;
        	width: @icon-size;
        	height: @icon-size;
			padding:0;
		}
	
		&.user{
			padding:0;
			float:right;
		}
	}		
}


.radio-select {
	input[type="radio"]{
		display:none!important;
	}
}

.radio-select, .check-select{
	cursor:pointer;	
	span.icon{
		border-radius: 10px;
		&.selected{
			background-color: #B4DCA9;
			
			&:hover{
				background-color: #B4DCA9!important;	
			}
		}			
		&:hover{
			background-color: yellow;	
		}
	}
}	

.check-select{
	input[type="checkbox"]{
		display:none!important;
	}
}

.nlbg{
	background: url(/img/nlbg.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;  
	height: 100%;
	text-align: center;
}