.pagination{
	margin-top:0!important;
}

.toast-top-full-width{
	top: 57px!important;
}

.text-strikeout{
	text-decoration: line-through;
}

.centered {
    text-align: center;
    font-size: 0;
}
.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
    font-size: 13px;
}

label.counter {
    vertical-align: middle;
    margin-bottom: 10px;
}

.guild-group-item {
	span{
		&.no-icon{
	 		display: inline-block;
        	width: @icon-size;
        	height: @icon-size;
			padding:0;
		}
	
		&.user{
			padding:0;
			float:right;
		}
	}		
}


.radio-select {
	input[type="radio"]{
		display:none!important;
	}
}

.radio-select, .check-select{
	cursor:pointer;	
	span.icon{
		border-radius: 10px;
		&.selected{
			background-color: #B4DCA9;
			
			&:hover{
				background-color: #B4DCA9!important;	
			}
		}			
		&:hover{
			background-color: yellow;	
		}
	}
}	

.check-select{
	input[type="checkbox"]{
		display:none!important;
	}
}

.nlbg{
	background: url(/img/nlbg.jpg) no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	height: 100%; 
   	text-align: center;
}

.panel-center-screen{
 position: absolute;
  top: 70%;
  left:50%;
  transform: translate(-50%,-50%);
  color:#000;
}

.guild-group {
  margin-bottom: 10px;
  padding-left: 0; // reset padding because ul and ol
}

.guild-group-item {
  position: relative;
  display: block;
  padding: 5px 8px;
  margin-bottom: -1px;
  background-color: @guild-group-bg;
  border: 1px solid @guild-group-border;
    
  &:first-child {
    .border-top-radius(@guild-group-border-radius);
  }
  &:last-child {
    margin-bottom: 0;
    .border-bottom-radius(@guild-group-border-radius);
  }
  
  .badge, .user{
	  float:right;
  }
}

.guild-group-item-variant(player; @guild-group-player-bg; @guild-group-player);
.guild-group-item-variant(player-party; @guild-group-player-party-bg; @guild-group-player-party);
.guild-group-item-variant(party; @guild-group-party-bg; @guild-group-party);
.guild-group-item-variant(job; @guild-group-job-bg; @guild-group-job);
.guild-group-item-variant(join; @guild-group-join-bg; @guild-group-join);

.guild-group-item-variant(guardian; @guild-group-guardian-bg; @guild-group-guardian);
.guild-group-item-variant(warrior; @guild-group-warrior-bg; @guild-group-warrior);
/*.guild-group-item-variant(revenant; @guild-group-revenant-bg; @guild-group-revenant);
.guild-group-item-variant(ranger; @guild-group-ranger-bg; @guild-group-ranger);
.guild-group-item-variant(thief; @guild-group-thief-bg; @guild-group-thief);
.guild-group-item-variant(engineer; @guild-group-engineer-bg; @guild-group-engineer);*/
.guild-group-item-variant(elementalist;@guild-group-elementalist-bg; @guild-group-elementalist);
/*.guild-group-item-variant(mesmer; @guild-group-mesmer-bg; @guild-group-mesmer);
.guild-group-item-variant(necromancer; @guild-group-necromancer-bg; @guild-group-necromancer);*/
