.image_icon(@name) {
    span.@{name}-icon{
        background-image: url("@{imageurl}/@{name}.png");
        background-size: @icon-size;
        display: inline-block;
        width: @icon-size;
        height: @icon-size;
        
        &.big{
            width: @icon-size*2+ 8;
            height: @icon-size*2+ 8;
            background-size: @icon-size*2;
            background-repeat: no-repeat;
            background-position-x: 4px;
            background-position-y: 4px;
        }
    }
}

.image_icon(@name,@num) {
    span.@{name}-icon, span.icon-@{num}{
        background-image: url("@{imageurl}/@{name}.png");
        background-size: @icon-size;
        display: inline-block;
        width: @icon-size;
        height: @icon-size;
        
        &.big{
            width: @icon-size*2+ 8;
            height: @icon-size*2+ 8;
            background-size: @icon-size*2;
            background-repeat: no-repeat;
            background-position-x: 4px;
            background-position-y: 4px;
        }
    }
}


.list-group-item-variant(@state; @background; @color) {
  .list-group-item-@{state} {
    color: @color;
    background-color: @background!important;

    a&,
    button& {
      color: @color;

      .list-group-item-heading {
        color: inherit;
      }

      &:hover,
      &:focus {
        color: @color;
        background-color: darken(@background, 5%);
      }
      &.active,
      &.active:hover,
      &.active:focus {
        color: #fff;
        background-color: @color;
        border-color: @color;
      }
    }
    
    .badge{
		  background-color: @color;
		  color:darken(@background, 10%);
	  }
  }
}
