<% include ./../partials/header %>
<div class="mydata"></div>

<% include ./../partials/end-body %>

<script>
	var mydata = null;
	$(function(){				
		mydata = new NL.View.PartyConfiguration({
			el: '.mydata',
			partyconfiguration: <%- JSON.stringify(configuration.partyconfiguration)%>,
			partyconfigurationprofession:  <%- JSON.stringify(configuration.partyconfigurationprofession)%> 
		});				
	});	
</script>

<% include ./../partials/end-footer %>