<% include ./../partials/header %>
<div class="mydata"></div>

<% include ./../partials/end-body %>

<script>
	var mydata = null;
	$(function(){				
		mydata = new NL.View.PartyConfiguration({
			el: '.mydata',
			model: new NL.Model.PartyConfiguration(<%- JSON.stringify(configuration) %>)
		});				
	});	
</script>



<% include ./../partials/end-footer %>