<div class="col-lg-offset-2 col-lg-8">
	<div class="title">
		<h2>Edit Configuration <b><%- description %></b></h2>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<label for="description">Description</label>
			<input type="text" id="description" class="form-control" name="description" placeholder="Description" value='<%= description%>'/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<label for="jsviewname">View Name</label>
			<select name="jsviewname" class="form-control">
			<% var jsviews = ['OrganizationPartyTeqZerg',
							'OrganizationPartyTeqDefZerg',
							'OrganizationPartyBounty2',
							'OrganizationPartyBounty3',
							'OrganizationPartyBounty6']; %>
							
				<%_.each(jsviews,function(jsview){%>
					<option value="<%=jsview%>" <%if( jsviewname == jsview){%>seleted<%}%>><%=jsview%></option>
				<%});%>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-lg-2">
			<label for="isAdmin">Pick Banner</label>
		</div><div class="col-lg-2">
			<input type="checkbox" id="pickbanner" name="pickbanner" data-style="btn-group-sm" <%if( pickbanner == true){%>checked<%}%> />
		</div>
		<div class="col-lg-2">
			<label class="control-label" for="isAdmin">Pick Food</label>
		</div><div class="col-lg-2">
			<input type="checkbox" id="pickfood" name="pickfood" data-style="btn-group-sm" <%if( pickfood == true){%>checked<%}%>/>
		</div>
		<div class="col-lg-2">
			<label class="control-label" for="isAdmin">Pick Commander</label>
			</div><div class="col-lg-2">
			<input type="checkbox" id="pickcommander" name="pickcommander" data-style="btn-group-sm" <%if( pickcommander == true){%>checked<%}%>/>
		</div>
	</div>
	
	<div class="row">
		
	</div>
	
	<br>
	<hr>
	<div class="row">
		<div class="col-lg-12">
			<div class=" pull-left">
				<a role="button" href="/admin/configurations" class="btn btn-default"> <span class="glyphicon glyphicon-arrow-left "></span>Back</a>
			</div>
			<div class=" pull-right">
				<button class="btn btn-primary save"> <span class="glyphicon glyphicon-ok "></span> Save</button>
			</div>
		</div>
	</div>
	
</div>