<div class="row">
<% _.each(partys, function(party,idx){ %>

<div class="col-lg-3">
	<div class="list-group">
		<div class="list-group-item active"><b> <%- party.partyname %></b> <span class="badge"><%- party.members.length%></span></div>
		<% if(party.job){ %>
			<% if( Array.isArray(party.job) ){ %>
			<%	_.each(party.job, function(job) {%>
			<div class="list-group-item list-group-item-warning"><b><%- job %></b></div>
				<% }) %>
			<% } else { %>
			<div class="list-group-item list-group-item-warning"><b><%- party.job %></b></div>
			<% } %>
		<% } %>
		<div class="list-group-item ">
		<% _.each(party.members,function(member){ %>
			<div class="player <% if ( member.username == username ) {%> bg-success <%}%>">
				<span class="<%- member.profession%>-icon"></span>
			<% if( member.commander) { %>
				<span class="<%- member.commander%>-icon"></span>
			<% } %>
			<% if( member.havebanner == true ) { %>
				<span class="banner-icon"></span>
			<% } %>
			<% if( member.havefood == true ) { %>
				<span class="food-icon"></span>
			<% } %>
			 	
			<span class="user"><%- member.displayname != '' ? member.displayname : member.username %></span>
				
			</div>						
		<%});%>
		</div>						
		<div class="list-group-item list-group-item-info text-center"><span>/join <%-party.members[0].username %></span></div>
	</div>
</div>
<% if ((idx+1 % 4) == 0 ) {%><br /><%}%>
<%});%>
</div>

<% 

/*  function SelectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

document.onclick = function(e) {    
    if (e.target.className === 'click') {
        SelectText('selectme');
    }
};
    */%>