<div class="row">
	<div class="col-lg-12">
<div class="row">
<% _.each(partys, function(party, idx){ %>
<div class="col-lg-3">
	<div class="guild-group">
		<div class="guild-group-item <%if(party.partyname == myparty){%>guild-group-item-player-party<%}else{%>active<%}%>"><b> <%- party.partyname %></b> <span class="badge"><%- party.members.length%></span></div>
		<% if(party.job){ %>
			<% if( Array.isArray(party.job) ){ %>
			<%	_.each(party.job, function(job) {%>
			<div class="guild-group-item guild-group-item-job"><b><%- job %></b></div>
				<% }) %>
			<% } else { %>
				<div class="guild-group-item guild-group-item-job"><b><%- party.job %></b></div>
			<% } %>
		<% } %>
				
		<% _.each(party.members,function(member){ %>
		<div class="guild-group-item <% if( member.username == username ){%>guild-group-item-player<%}%>">
				<span class="<%- member.profession%>-icon"></span>
			<% if( member.commander) { %>
				<span class="<%- member.commander%>-icon"></span>
			<% } %>
			<% if( member.havebanner == true ) { %>
				<span class="banner-icon"></span>
			<% } %>
			<% if( member.havefood == true ) { %>
				<span class="food-icon"></span>
			<% } %>			 	
			<span class="user"><%- member.displayname != '' ? member.displayname : member.username %></span>				
		</div>							
		<%});%>
							
		<div class="guild-group-item guild-group-item-join text-center"><span>/join <%-party.members[0].username %></span></div>
	</div>
</div>
<% if ( (idx % 4) == 3 ) {%></div><div class="row"><%}%>
<%});%>
</div>
	</div>
	</div>
<% 

/*  function SelectText(element) {
    var doc = document
        , text = doc.getElementById(element)
        , range, selection
    ;    
    if (doc.body.createTextRange) {
        range = document.body.createTextRange();
        range.moveToElementText(text);
        range.select();
    } else if (window.getSelection) {
        selection = window.getSelection();        
        range = document.createRange();
        range.selectNodeContents(text);
        selection.removeAllRanges();
        selection.addRange(range);
    }
}

document.onclick = function(e) {    
    if (e.target.className === 'click') {
        SelectText('selectme');
    }
};
    */%>