<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= pagetitle %></title>
	<link href="/css/nl-orga-mvc.css" rel="stylesheet">	
	
	<style type="text/css">
		
	</style>
</head>
<body>
	
		<% include menu %>
	
	<div class="container">
	