.pagination {
  margin-top: 0!important;
}
.toast-top-full-width {
  top: 57px!important;
}
.text-strikeout {
  text-decoration: line-through;
}
.centered {
  text-align: center;
  font-size: 0;
}
.centered > div {
  float: none;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}
label.counter {
  vertical-align: middle;
  margin-bottom: 10px;
}
.list-group-item span.no-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
}
.list-group-item span.user {
  padding: 0;
  float: right;
}
.radio-select input[type="radio"] {
  display: none!important;
}
.radio-select,
.check-select {
  cursor: pointer;
}
.radio-select span.icon,
.check-select span.icon {
  border-radius: 10px;
}
.radio-select span.icon.selected,
.check-select span.icon.selected {
  background-color: #B4DCA9;
}
.radio-select span.icon.selected:hover,
.check-select span.icon.selected:hover {
  background-color: #B4DCA9!important;
}
.radio-select span.icon:hover,
.check-select span.icon:hover {
  background-color: yellow;
}
.check-select input[type="checkbox"] {
  display: none!important;
}
.nlbg {
  background: url(/img/nlbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
}
.list-group-item-player {
  background-color: #97FF9A;
}
.list-group-item-guardian {
  color: white;
  background-color: #0066ff !important;
}
a.list-group-item-guardian,
button.list-group-item-guardian {
  color: white;
}
a.list-group-item-guardian .list-group-item-heading,
button.list-group-item-guardian .list-group-item-heading {
  color: inherit;
}
a.list-group-item-guardian:hover,
button.list-group-item-guardian:hover,
a.list-group-item-guardian:focus,
button.list-group-item-guardian:focus {
  color: white;
  background-color: #005ce6;
}
a.list-group-item-guardian.active,
button.list-group-item-guardian.active,
a.list-group-item-guardian.active:hover,
button.list-group-item-guardian.active:hover,
a.list-group-item-guardian.active:focus,
button.list-group-item-guardian.active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
}
.list-group-item-guardian .badge {
  background-color: white;
  color: #0052cc;
}
.list-group-item-warrior {
  color: white;
  background-color: #e09712 !important;
}
a.list-group-item-warrior,
button.list-group-item-warrior {
  color: white;
}
a.list-group-item-warrior .list-group-item-heading,
button.list-group-item-warrior .list-group-item-heading {
  color: inherit;
}
a.list-group-item-warrior:hover,
button.list-group-item-warrior:hover,
a.list-group-item-warrior:focus,
button.list-group-item-warrior:focus {
  color: white;
  background-color: #c88710;
}
a.list-group-item-warrior.active,
button.list-group-item-warrior.active,
a.list-group-item-warrior.active:hover,
button.list-group-item-warrior.active:hover,
a.list-group-item-warrior.active:focus,
button.list-group-item-warrior.active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
}
.list-group-item-warrior .badge {
  background-color: white;
  color: #b1770e;
}
/*.list-group-item-variant(revenant; @state-danger-bg; @state-danger-text);
.list-group-item-variant(ranger; @state-danger-bg; @state-danger-text);
.list-group-item-variant(thief; @state-danger-bg; @state-danger-text);
.list-group-item-variant(engineer; @state-danger-bg; @state-danger-text);*/
.list-group-item-elementalist {
  color: white;
  background-color: #800080 !important;
}
a.list-group-item-elementalist,
button.list-group-item-elementalist {
  color: white;
}
a.list-group-item-elementalist .list-group-item-heading,
button.list-group-item-elementalist .list-group-item-heading {
  color: inherit;
}
a.list-group-item-elementalist:hover,
button.list-group-item-elementalist:hover,
a.list-group-item-elementalist:focus,
button.list-group-item-elementalist:focus {
  color: white;
  background-color: #670066;
}
a.list-group-item-elementalist.active,
button.list-group-item-elementalist.active,
a.list-group-item-elementalist.active:hover,
button.list-group-item-elementalist.active:hover,
a.list-group-item-elementalist.active:focus,
button.list-group-item-elementalist.active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
}
.list-group-item-elementalist .badge {
  background-color: white;
  color: #4d004d;
}
/*.list-group-item-variant(mesmer; @state-danger-bg; @state-danger-text);
.list-group-item-variant(necromancer; @state-danger-bg; @state-danger-text);*/
.nlbg {
  background: url(/img/nlbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
}
.panel-center-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  opacity: 0.8;
}
span.guardian-icon,
span.icon-1 {
  background-image: url("/img/guardian.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.guardian-icon.big,
span.icon-1.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.warrior-icon,
span.icon-2 {
  background-image: url("/img/warrior.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.warrior-icon.big,
span.icon-2.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.revenant-icon,
span.icon-3 {
  background-image: url("/img/revenant.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.revenant-icon.big,
span.icon-3.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.thief-icon,
span.icon-5 {
  background-image: url("/img/thief.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.thief-icon.big,
span.icon-5.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.ranger-icon,
span.icon-4 {
  background-image: url("/img/ranger.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.ranger-icon.big,
span.icon-4.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.engineer-icon,
span.icon-6 {
  background-image: url("/img/engineer.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.engineer-icon.big,
span.icon-6.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.elementalist-icon,
span.icon-7 {
  background-image: url("/img/elementalist.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.elementalist-icon.big,
span.icon-7.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.mesmer-icon,
span.icon-8 {
  background-image: url("/img/mesmer.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.mesmer-icon.big,
span.icon-8.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.necromancer-icon,
span.icon-9 {
  background-image: url("/img/necromancer.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.necromancer-icon.big,
span.icon-9.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.banner-icon {
  background-image: url("/img/banner.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.banner-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.red-icon {
  background-image: url("/img/red.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.red-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.purple-icon {
  background-image: url("/img/purple.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.purple-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.yellow-icon {
  background-image: url("/img/yellow.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.yellow-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.blue-icon {
  background-image: url("/img/blue.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.blue-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.no-commander-icon {
  background-image: url("/img/no-commander.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.no-commander-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.food-icon {
  background-image: url("/img/food.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.food-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
