.pagination {
  margin-top: 0!important;
}
.toast-top-full-width {
  top: 57px!important;
}
.text-strikeout {
  text-decoration: line-through;
}
.centered {
  text-align: center;
  font-size: 0;
}
.centered > div {
  float: none;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}
label.counter {
  vertical-align: middle;
  margin-bottom: 10px;
}
.guild-group-item span.no-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
}
.guild-group-item span.user {
  padding: 0;
  float: right;
}
.radio-select input[type="radio"] {
  display: none!important;
}
.radio-select,
.check-select {
  cursor: pointer;
}
.radio-select span.icon,
.check-select span.icon {
  border-radius: 10px;
}
.radio-select span.icon.selected,
.check-select span.icon.selected {
  background-color: #B4DCA9;
}
.radio-select span.icon.selected:hover,
.check-select span.icon.selected:hover {
  background-color: #B4DCA9!important;
}
.radio-select span.icon:hover,
.check-select span.icon:hover {
  background-color: yellow;
}
.check-select input[type="checkbox"] {
  display: none!important;
}
.nlbg {
  background: url(/img/nlbg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  text-align: center;
}
.panel-center-screen {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}
.guild-group {
  margin-bottom: 10px;
  padding-left: 0;
}
.guild-group-item {
  position: relative;
  display: block;
  padding: 5px 8px;
  margin-bottom: -1px;
  background-color: white;
  border: 1px solid #e3e3e3;
}
.guild-group-item:first-child {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.guild-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}
.guild-group-item .badge,
.guild-group-item .user {
  float: right;
}
.guild-group-item-player {
  color: black;
  background-color: #ddfbd5 !important;
}
a.guild-group-item-player,
button.guild-group-item-player {
  color: black;
}
a.guild-group-item-player .guild-group-item-heading,
button.guild-group-item-player .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-player:hover,
button.guild-group-item-player:hover,
a.guild-group-item-player:focus,
button.guild-group-item-player:focus {
  color: black;
  background-color: #caf9be;
}
a.guild-group-item-player.active,
button.guild-group-item-player.active,
a.guild-group-item-player.active:hover,
button.guild-group-item-player.active:hover,
a.guild-group-item-player.active:focus,
button.guild-group-item-player.active:focus {
  color: #fff;
  background-color: black;
  border-color: black;
}
.guild-group-item-player .badge {
  background-color: black;
  color: #b7f7a6;
}
.guild-group-item-player-party {
  color: #a94442;
  background-color: #f2dede !important;
}
a.guild-group-item-player-party,
button.guild-group-item-player-party {
  color: #a94442;
}
a.guild-group-item-player-party .guild-group-item-heading,
button.guild-group-item-player-party .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-player-party:hover,
button.guild-group-item-player-party:hover,
a.guild-group-item-player-party:focus,
button.guild-group-item-player-party:focus {
  color: #a94442;
  background-color: #ebcccc;
}
a.guild-group-item-player-party.active,
button.guild-group-item-player-party.active,
a.guild-group-item-player-party.active:hover,
button.guild-group-item-player-party.active:hover,
a.guild-group-item-player-party.active:focus,
button.guild-group-item-player-party.active:focus {
  color: #fff;
  background-color: #a94442;
  border-color: #a94442;
}
.guild-group-item-player-party .badge {
  background-color: #a94442;
  color: #e4b9b9;
}
.guild-group-item-party {
  color: #0066ff;
  background-color: #d9edf7 !important;
}
a.guild-group-item-party,
button.guild-group-item-party {
  color: #0066ff;
}
a.guild-group-item-party .guild-group-item-heading,
button.guild-group-item-party .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-party:hover,
button.guild-group-item-party:hover,
a.guild-group-item-party:focus,
button.guild-group-item-party:focus {
  color: #0066ff;
  background-color: #c4e3f3;
}
a.guild-group-item-party.active,
button.guild-group-item-party.active,
a.guild-group-item-party.active:hover,
button.guild-group-item-party.active:hover,
a.guild-group-item-party.active:focus,
button.guild-group-item-party.active:focus {
  color: #fff;
  background-color: #0066ff;
  border-color: #0066ff;
}
.guild-group-item-party .badge {
  background-color: #0066ff;
  color: #afd9ee;
}
.guild-group-item-job {
  color: #8a6d3b;
  background-color: #fcf8e3 !important;
}
a.guild-group-item-job,
button.guild-group-item-job {
  color: #8a6d3b;
}
a.guild-group-item-job .guild-group-item-heading,
button.guild-group-item-job .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-job:hover,
button.guild-group-item-job:hover,
a.guild-group-item-job:focus,
button.guild-group-item-job:focus {
  color: #8a6d3b;
  background-color: #faf2cc;
}
a.guild-group-item-job.active,
button.guild-group-item-job.active,
a.guild-group-item-job.active:hover,
button.guild-group-item-job.active:hover,
a.guild-group-item-job.active:focus,
button.guild-group-item-job.active:focus {
  color: #fff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.guild-group-item-job .badge {
  background-color: #8a6d3b;
  color: #f7ecb5;
}
.guild-group-item-join {
  color: #31708f;
  background-color: #d9edf7 !important;
}
a.guild-group-item-join,
button.guild-group-item-join {
  color: #31708f;
}
a.guild-group-item-join .guild-group-item-heading,
button.guild-group-item-join .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-join:hover,
button.guild-group-item-join:hover,
a.guild-group-item-join:focus,
button.guild-group-item-join:focus {
  color: #31708f;
  background-color: #c4e3f3;
}
a.guild-group-item-join.active,
button.guild-group-item-join.active,
a.guild-group-item-join.active:hover,
button.guild-group-item-join.active:hover,
a.guild-group-item-join.active:focus,
button.guild-group-item-join.active:focus {
  color: #fff;
  background-color: #31708f;
  border-color: #31708f;
}
.guild-group-item-join .badge {
  background-color: #31708f;
  color: #afd9ee;
}
.guild-group-item-guardian {
  color: white;
  background-color: #0066ff !important;
}
a.guild-group-item-guardian,
button.guild-group-item-guardian {
  color: white;
}
a.guild-group-item-guardian .guild-group-item-heading,
button.guild-group-item-guardian .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-guardian:hover,
button.guild-group-item-guardian:hover,
a.guild-group-item-guardian:focus,
button.guild-group-item-guardian:focus {
  color: white;
  background-color: #005ce6;
}
a.guild-group-item-guardian.active,
button.guild-group-item-guardian.active,
a.guild-group-item-guardian.active:hover,
button.guild-group-item-guardian.active:hover,
a.guild-group-item-guardian.active:focus,
button.guild-group-item-guardian.active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
}
.guild-group-item-guardian .badge {
  background-color: white;
  color: #0052cc;
}
.guild-group-item-warrior {
  color: white;
  background-color: #e09712 !important;
}
a.guild-group-item-warrior,
button.guild-group-item-warrior {
  color: white;
}
a.guild-group-item-warrior .guild-group-item-heading,
button.guild-group-item-warrior .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-warrior:hover,
button.guild-group-item-warrior:hover,
a.guild-group-item-warrior:focus,
button.guild-group-item-warrior:focus {
  color: white;
  background-color: #c88710;
}
a.guild-group-item-warrior.active,
button.guild-group-item-warrior.active,
a.guild-group-item-warrior.active:hover,
button.guild-group-item-warrior.active:hover,
a.guild-group-item-warrior.active:focus,
button.guild-group-item-warrior.active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
}
.guild-group-item-warrior .badge {
  background-color: white;
  color: #b1770e;
}
/*.guild-group-item-variant(revenant; @guild-group-revenant-bg; @guild-group-revenant);
.guild-group-item-variant(ranger; @guild-group-ranger-bg; @guild-group-ranger);
.guild-group-item-variant(thief; @guild-group-thief-bg; @guild-group-thief);
.guild-group-item-variant(engineer; @guild-group-engineer-bg; @guild-group-engineer);*/
.guild-group-item-elementalist {
  color: white;
  background-color: #800080 !important;
}
a.guild-group-item-elementalist,
button.guild-group-item-elementalist {
  color: white;
}
a.guild-group-item-elementalist .guild-group-item-heading,
button.guild-group-item-elementalist .guild-group-item-heading {
  color: inherit;
}
a.guild-group-item-elementalist:hover,
button.guild-group-item-elementalist:hover,
a.guild-group-item-elementalist:focus,
button.guild-group-item-elementalist:focus {
  color: white;
  background-color: #670066;
}
a.guild-group-item-elementalist.active,
button.guild-group-item-elementalist.active,
a.guild-group-item-elementalist.active:hover,
button.guild-group-item-elementalist.active:hover,
a.guild-group-item-elementalist.active:focus,
button.guild-group-item-elementalist.active:focus {
  color: #fff;
  background-color: white;
  border-color: white;
}
.guild-group-item-elementalist .badge {
  background-color: white;
  color: #4d004d;
}
/*.guild-group-item-variant(mesmer; @guild-group-mesmer-bg; @guild-group-mesmer);
.guild-group-item-variant(necromancer; @guild-group-necromancer-bg; @guild-group-necromancer);*/
span.guardian-icon,
span.icon-1 {
  background-image: url("/img/guardian.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.guardian-icon.big,
span.icon-1.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.warrior-icon,
span.icon-2 {
  background-image: url("/img/warrior.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.warrior-icon.big,
span.icon-2.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.revenant-icon,
span.icon-3 {
  background-image: url("/img/revenant.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.revenant-icon.big,
span.icon-3.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.thief-icon,
span.icon-5 {
  background-image: url("/img/thief.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.thief-icon.big,
span.icon-5.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.ranger-icon,
span.icon-4 {
  background-image: url("/img/ranger.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.ranger-icon.big,
span.icon-4.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.engineer-icon,
span.icon-6 {
  background-image: url("/img/engineer.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.engineer-icon.big,
span.icon-6.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.elementalist-icon,
span.icon-7 {
  background-image: url("/img/elementalist.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.elementalist-icon.big,
span.icon-7.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.mesmer-icon,
span.icon-8 {
  background-image: url("/img/mesmer.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.mesmer-icon.big,
span.icon-8.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.necromancer-icon,
span.icon-9 {
  background-image: url("/img/necromancer.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.necromancer-icon.big,
span.icon-9.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.banner-icon {
  background-image: url("/img/banner.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.banner-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.red-icon {
  background-image: url("/img/red.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.red-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.purple-icon {
  background-image: url("/img/purple.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.purple-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.yellow-icon {
  background-image: url("/img/yellow.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.yellow-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.blue-icon {
  background-image: url("/img/blue.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.blue-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.no-commander-icon {
  background-image: url("/img/no-commander.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.no-commander-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
span.food-icon {
  background-image: url("/img/food.png");
  background-size: 20px;
  display: inline-block;
  width: 20px;
  height: 20px;
}
span.food-icon.big {
  width: 48px;
  height: 48px;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: 4px;
}
