<% include ./../partials/header %>
<div class="main"></div>

<% include ./../partials/end-body %>
<script>
$(function(){
	var view = new NL.View.UserIndex({
		el:'.main',
		collection: new NL.Collection.UserIndex(<%- JSON.stringify(organizations)%>)
	});
});
</script>
<% include ./../partials/end-footer %>
