<% include partials/header %>
<div>
  <%- messages %>
  <br />
  <%if( error != undefined ) {%>
    <%if (error.status) { %>
      <%- error.status %><br />
    <% }%>
    <%if (error.stack) { %>
      <%- error.stack.replace(/\n/g,'<br/>') %><br />
    <% }%>
  <% }%>
</div>
<% include partials/footer %>